
.navtab{
    color : white;
    border-radius: 0px;
    font-size: 26px;
}



#hometab {
    background: darkcyan;
}

#rockettab {
    background: darkorange;
}

#weathertab {
    background: darkslateblue;
}

#abouttab {
    background: darksalmon;
}

#content {
    /* margin: 0 auto; */
    min-width: 1280px;
    background-color: #ccc;
    height: 100vh;
    flex: 1;
    border-left: 
}
.centerlocation {
    position: absolute;
    justify-content: center;
    transform: translateY(50%);
}

html { height: 100%; }

body {
    height: 100%;
    margin: 0
  }