
.navtab{
    color : white;
    border-radius: 0px;
    font-size: 26px;
}



#hometab {
    background: darkcyan;
}

#rockettab {
    background: darkorange;
}

#weathertab {
    background: darkslateblue;
}

#abouttab {
    background: darksalmon;
}

.centerlocation {
    position: relative;
    justify-content: center;
    transform: translateY(50%);
}